<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: "Projects"}) %>

    <style>
      #sidebar {
        background: #2d375b;
        /* background: linear-gradient(to right, #2c5364, #203a43, #0f2027); */
      }
    </style>
  </head>

  <body class="">
    <%- include('partials/loading-indicator') %>

    <div class="main-content">
      <!-- Navbar -->
      <header><%- include('navbar') %></header>

      <!-- Main Content -->
      <main class="w-4/5 mx-auto mt-20 text-secondary">
        <section class="justify-center">
          <!-- Search and Add Projects Section -->
          <div
            class="flex mb-12 flex-col md:flex-row items-center gap-10 justify-center"
          >
            <!-- <h1 class="text-3xl font-bold text-light_grey">Projects</h1> -->
            <!-- Search Box -->
            <div class="relative flex items-center gap-4">
              <input
                class="p-2 pl-10 rounded-md focus:outline-none focus:ring-2 focus:ring-primary w-full lg:w-[500px] bg-light_grey"
                type="text"
                placeholder="Search projects"
                id="search-bar"
              />
              <span class="absolute left-3 top-[10px]">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
              <button
                id="search-btn"
                class="bg-light_grey px-4 py-2 rounded-md hover:bg-primary hover:text-white min-w-24"
              >
                Search
              </button>
            </div>

            <p
              id="openModalBtn"
              class="bg-light_grey px-2 py-2 rounded-md hover:bg-primary hover:text-white min-w-36"
            >
              <a href="/project/status" class="flex justify-center gap-2">
                <span><i class="fa-solid fa-plus"></i></span>
                <span>Add Project</span>
              </a>
            </p>
          </div>

          <!-- Projects Grid -->
          <div
            id="projectsContainer"
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-16 p-4"
          >
            <!-- Projects will be populated using JS -->
          </div>
        </section>

        <!-- Sidebar -->
        <aside
          id="sidebar"
          class="hidden fixed top-0 right-0 h-full w-10/12 sm:w-6/12 lg:w-4/12 xl:w-3/12 shadow-lg p-6 border-l z-10 text-light_grey"
        >
          <div class="flex justify-end items-center">
            <button onclick="closeSidebar()" class="hover:text-primary">
              <i class="fas fa-xl fa-times"></i>
            </button>
          </div>
          <div id="sidebarContent" class="mt-5">
            <p>More project details can be added here in the future.</p>
          </div>
        </aside>
      </main>
      <div id="permissions-container"></div>
    </div>

    <script>
      // Initialize projects,success,error array with data from server
      const projects = <%- JSON.stringify(projects) %>;
      const error =  <%- JSON.stringify(error) %>;
      const success =  <%- JSON.stringify(success) %>;
      console.log(projects);

      // success and error message using toastr
      toastr.options = {
        timeOut: "2000",
      };

      if (success && success.length > 0) {
        toastr.success(success[0]);
      }

      if (error && error.length > 0) {
        toastr.error(error[0]);
      }
    </script>

    <script>
      const searchBar = document.querySelector("#search-bar");
      const searchBtn = document.querySelector("#search-btn");
      const projectsContainer = document.querySelector("#projectsContainer");

      const statusCodes = {
        1: "Active",
        2: "InActive",
        3: "Completed",
      };

      //Sidebar Functionality
      // Sidebar open
      function openSidebar(project) {
        // Show the sidebar and update the title
        const sidebar = document.getElementById("sidebar");
        const sidebarTitle = document.getElementById("sidebarTitle");
        sidebar.classList.remove("hidden");

        const sidebarContent = document.getElementById("sidebarContent");
        sidebarContent.innerHTML = `
              <div class="p-4 space-y-6">
                <!-- Details Section -->
                <div>
                  <h3 class="text-lg text-primary uppercase font-semibold mb-3">Details</h3>
                  <p class="mb-2">
                    <span class="font-medium">Status:</span>
                    <span>${
                      statusCodes[project.status_id] || "No status available."
                    }</span>
                  </p>
                  <p class="mb-2">
                    <span class="font-medium">Technology:</span>
                    <span>${
                      project.technology || "No technology available."
                    }</span>
                  </p>
                </div>

                <!-- Description Section -->
                <div style="margin-bottom:4rem">
                  <h3 class="text-lg text-primary uppercase font-semibold">Description</h3>
                  <p class="">${
                    project.description || "No description available."
                  }</p>
                </div>


                <div class="flex gap-6">
                  <!-- Edit Button -->
                  <button class="text-light_grey block" id="editBtn">
                   <a
                     href="/project/alldetils?project_id=${project.project_id}"
                     > <span class="flex gap-1 items-center hover:text-medium_grey"><i class="fas fa-edit"></i>Edit Project</span></a>
                  </button>
                  <!-- Delete Button -->
                  <form action="/project/delete" method="POST" class="inline-block delete-form">
                    <input
                      type="hidden"
                      name="project_id"
                      value=${project.project_id}  
                     />
                   <button type="submit" class="text-red-500 hover:text-red-700 flex items-center gap-1"><i class="fas fa-trash"></i><span>Delete Project </span></button>
                 </form>
                </div>
              </div>`;
      }

      //Sidebar close
      function closeSidebar() {
        // Hide the sidebar
        const sidebar = document.getElementById("sidebar");
        sidebar.classList.add("hidden");
      }

      // Function to create a project card
      function createProjectCard(project) {
        const statusColors = {
          1: "bg-green-500",
          2: "bg-red-500",
          3: "bg-blue-500",
        };

        // Project card
        return `<div class="bg-secondary text-light_grey shadow-lg rounded-xl p-6 transition-transform transform hover:scale-105 relative">
          <p onclick='openSidebar(${JSON.stringify(
            project
          )})' class="absolute right-4 top-4">
            <i class="fa-solid fa-circle-info cursor-pointer hover:text-primary"></i>
          </p>

          <div class="flex flex-col gap-4 justify-between h-full">
            <div class="flex items-center gap-3 flex-wrap">
              <a href="/project/envStatus?project_id=${
                project.project_id
              }" class="font-bold text-lg hover:text-primary capitalize"
                onclick="clearSessionAndRedirect(event, '${
                  project.project_id
                }')"
              >
                ${project.project_name}
              </a>
              <span class="p-[5px] rounded-full ${
                statusColors[project.status_id]
              }"></span>
            </div>

            <p class="text-sm leading-5 line-clamp-3">${project.description}</p>

            <div class="flex items-base gap-2">
              <span class="text-sm font-medium text-light_grey">Tech:</span>
              <p class="text-sm text-medium_grey">${project.technology}</p>
            </div>
          </div>
        </div>`;
      }

      // Function to search project
      function searchProjects() {
        const searchTerm = searchBar.value.toLowerCase();
        projectsContainer.innerHTML = "";

        const filteredProjects = projects.filter((project) => {
          return (
            project.project_name.toLowerCase().includes(searchTerm) ||
            project.description.toLowerCase().includes(searchTerm) ||
            project.technology.toLowerCase().includes(searchTerm)
          );
        });

        if (filteredProjects.length > 0) {
          const gridHTML = filteredProjects
            .map((project) => createProjectCard(project))
            .join("");
          projectsContainer.innerHTML = gridHTML;
        } else {
          projectsContainer.innerHTML = `
            <div class="col-span-full py-8 text-xl text-center text-secondary">
              No projects found.
            </div>
          `;
        }
      }

      // Event listeners
      document.addEventListener("DOMContentLoaded", () => {
        searchProjects();
      });

      searchBtn.addEventListener("click", searchProjects);

      searchBar.addEventListener("keyup", (e) => {
        if (e.key === "Enter") {
          searchProjects();
        }
        if (searchBar.value === "") {
          searchProjects();
        }
      });
    </script>

    <!-- script for session clear -->
    <script>
      function clearSessionAndRedirect(event, projectId) {
        event.preventDefault();

        // clear frontend session
        sessionStorage.clear();

        // redirect to the project URL
        window.location.href = `/project/envStatus?project_id=${projectId}`;
      }
    </script>

    <script src="/js/loading-indicator.js"></script>
  </body>
</html>
